<?xml version="1.0"?>
<launch>

   <!-- define parameters. Use simulation:=true to change. -->

   <!-- <rosparam command="load" file="$(find rosparam)/example.yaml" /> -->
   <!-- <param name="simulation" type="bool" value="true"/> -->

   <!-- set ROBOT_POSE-->
   <arg name="ROBOT_POSE_FACE_TABLE" default="-x -0.2 -y 1 -z 0 -Y 3.1"/>
   <arg name="ROBOT_POSE_FACE_KITCHEN" default="-x 0.0 -y 0.0 -z 0.0"/>
   <arg name="ROBOT_POSE_FACE_KITCHEN_FULLVIEW" default="-x 0.0 -y 0.5 -z 0"/>


     <arg name="ROBOT_INITIAL_JOINTS" default="
	-J l_elbow_flex_joint -1.4347
	-J l_forearm_roll_joint 1.6943
	-J l_shoulder_lift_joint -0.3536
	-J l_shoulder_pan_joint 1.5
	-J l_upper_arm_roll_joint -0.0815
	-J l_wrist_flex_joint -0.1
	-J l_wrist_roll_joint 0
	-J r_elbow_flex_joint -1.335
	-J r_forearm_roll_joint -1.5531
	-J r_shoulder_lift_joint -0.3536
	-J r_shoulder_pan_joint -1.5
	-J r_upper_arm_roll_joint 0.0073
	-J r_wrist_flex_joint -0.1
	-J r_wrist_roll_joint 0"/>
   <!-- set ICETEA_POSE -->
   <arg name="ICETEA_POSE_KITCHEN" default="-x 1.35 -y 0.5 -z 1.1"/>
   <arg name="ICETEA_POSE_TABLE" default="-x -1.0 -y 1.0 -z 1.1"/>

   <!-- bring up an empty world -->
   <include file="$(find vision)/launch/vision_custom_world.launch">
     <arg name="paused" value="true"/>
     <arg name="use_sim_time" value="true"/>
     <arg name="gui" value="true"/>
     <arg name="headless" value="false"/>
     <arg name="debug" value="false"/>
     <arg name="world_name" default="$(env GAZEBO_RESOURCE_PATH)/custom.world"/>
   </include>

   <!-- Build Kitchen in Gazebo (iai_kitchen_gazebo.launch from iai_kitchen pkg)-->
   <arg name="model" default="$(find iai_kitchen)/urdf/IAI_kitchen.urdf.xacro"/>

   <param name="kitchen_description" command="$(find xacro)/xacro.py '$(arg model)'" />
   <node name="spawn_kitchen"
     pkg="gazebo_ros"
     type="spawn_model"
     args="
     -param kitchen_description
     -urdf
     -model IAI_kitchen
   "/>

   <!-- Startup PR2 without any mechanism controllers -->
   <!-- send pr2 urdf to param server -->
   <include file="$(find pr2_description)/robots/upload_pr2.launch" />

   <!-- push robot_description to factory and spawn robot in gazebo -->
   <node name="spawn_pr2_model"
	pkg="gazebo_ros"
	type="spawn_model"
	args="$(arg ROBOT_POSE_FACE_KITCHEN) $(arg ROBOT_INITIAL_JOINTS) -urdf -param robot_description -unpause -model pr2 -ros_namespace /gazebo"
	respawn="false"
	output="screen" />

   <!-- default bringup script -->
   <include file="$(find pr2_gazebo)/launch/pr2_bringup.launch" />

   <!-- Load and Start Default Controllers -->
   <include file="$(find pr2_controller_configuration_gazebo)/launch/pr2_default_controllers.launch" />

   <!-- spawn the icetea -->
   <node name="spawn_eistee"
     pkg="gazebo_ros"
     type="spawn_model"
     args="$(arg ICETEA_POSE_KITCHEN) -file $(find vision)/models/pfanner_grune_icetea/model.sdf -sdf -model eistee"
     respawn="false"
     output="screen"/>

</launch>
