<?xml version="1.0"?>

<launch>
  <!-- Build Kitchen in Gazebo (iai_kitchen_gazebo.launch from iai_kitchen pkg)-->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
      <!--
    <arg name="world_name" value="$(find iai_kitchen)/worlds/kitchen_env_2015.world"/>
      -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <!--arg name="physics" default="ode"/-->
  </include>
  <!--
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" >
  </node>
  -->
  <include file="$(find iai_kitchen)/launch/gazebo_spawn_kitchen.launch"/>
 
  <!-- Startup PR2 from (pr2.launch from pr2_gazebo package)-->
  <!-- Startup PR2 without any mechanism controllers -->
  <include file="$(find pr2_gazebo)/launch/pr2_no_controllers.launch" />

  <!-- Load and Start Default Controllers -->
  <include file="$(find pr2_controller_configuration_gazebo)/launch/pr2_default_controllers.launch" />
   <node name="spawn_eistee" pkg="gazebo_ros" type="spawn_model" args="-file $(find vision_base)/models/pfanner_grune_icetea/model.sdf -sdf -model eistee" respawn="false" output="screen"/>
   <node name="listener" pkg="vision_base" type="listener" output="screen"/>
</launch>
