<?xml version="1.0"?>

<model>
  <name>pfanner</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Tammo Wuebbena</name>
    <email>ta_wu@tzi.de</email>
  </author>

  <description>
    Model of Pfanner ice tea. The DAE-File ist provided by Ferenc.
  </description>
</model>
